body {
  background-image: url('milenario.jpg');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222; /* Fondo de la página en modo oscuro */
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #333; /* Color de fondo de la barra de navegación */
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
}

.navbar nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.navbar nav ul li a:hover {
    color: #ddd;
}

/* Estilo de la barra de búsqueda */
.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #444; /* Fondo de la barra de búsqueda */
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
}

.search-input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #444;
}

.search-button {
    background-color: #637080; /* Color del botón de la lupa */
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #ffffff;
}

.dark-mode-toggle {
    background-color: #555;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo de la sección principal */
.hero-section {
    text-align: center;
    padding: 40px;
    background-image: url('your-image.jpg'); /* Agrega aquí la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
}

.hero-section h2 {
    font-size: 32px;
    margin: 0;
}

.hero-section p {
    font-size: 18px;
    margin: 10px 0 0;
}
