body {
  background-image: url('milenario.jpg');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #333; /* Color de fondo del contenedor de la barra de búsqueda */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden;
    width: 300px; /* Ancho de la barra de búsqueda */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto similar */
}

/* Cuadro de búsqueda */
.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #333; /* Color de fondo del input */
    font-size: 16px;
}

/* Botón de búsqueda */
.search-button {
    background-color: #637080; /* Color de fondo del botón de la lupa */
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Color de la lupa */
    border-left: 1px solid #444; /* Línea divisoria entre input y botón */
}

.search-button:hover {
    background-color: #556470; /* Color de fondo en hover */
}
